<div id="<%= dom_id message %>">
  <p>
    <strong>Body:</strong>
    <%= message.body %>
  </p>

  <p>
    <strong>Inbox:</strong>
    <%= link_to message.inbox.name, message.inbox  %>
  </p>

  <%= button_to 'UpVote', [:upvote, message.inbox, message], method: :patch, data: {turbo: 'false'} %>
  <%= message.votes_for.size%>
  <%= current_user.voted_for? message %>
  <%= message.get_upvotes.size %>
  <%= message.get_downvotes.size %>


  <p>
    <strong>User:</strong>
    <%= message.user.email %>
  </p>

  <%= button_to "Destroy", inbox_message_path(@inbox, message), method: :delete %>


</div>
