<div id="inboxes">
  <h1>
    inboxes: <%= @inboxes.count%>
  </h1>
  <% @inboxes.each do |inbox| %>
    <h3>
      <%= link_to inbox.name , inbox%>
    </h3>
     Messages: <%= inbox.messages_count%>
    <hr>
    by: 
    <%= inbox.user.email%>
    <%= inbox.created_at.strftime('%m/%b/%Y, %H:%M:%S')%>
  <% end %>
</div>